$red: #a0d8d0;
body {
  background-color: $red;
  margin-top: 50px;
  margin-left:350px;
  margin-right:50px;
  margin-bottom:50px;
    
}
.arial{
	font-family: "Arial Black";
	font-size: 100px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 84px;
}
.arial2{
	font-family: "Arial Black";
	font-size: 40px;
	font-style: normal;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 84px;
}
  .black-border {border-color: black;
  border-width: 30px;
  border-style: solid;
  }
.smaller-image {
margin: auto;
    float: right;
    width:400px;
    height: 400px;}